@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:500');

body{
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(243, 243, 243) !important;
}

p{
    font-family: 'Hind Guntur', sans-serif;
}

div{
    font-family: 'Hind Guntur', sans-serif;
}

hr {
    border: 0; 
    height: 1.2px; 
    background: linear-gradient(to right, #8c8c8c, #f0f0f0);
  }

.section{
    display: block;
    height: 100vh;
}

.section2{
    display: block;
    height: 50vh;
    padding: 0vh 0;
}

.section3{
    display: block;
    height: 90vh;
    padding: 22vh 0;
}

.section4{
    display: block;
    height: 100%;
    padding: 15vh 0;
}

.background-photo{
    background-image: url(./MEDIA/pizza.jpg);
    width: 100%;
    height: 90vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.citation .justify-content-md-center{
    padding: 35vh 0 0 0;
    margin: 0;
}

.citation .row span{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    text-shadow: 0 0 30px black;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.shadow p{
    text-shadow: 0 0 40px black;
}

.self-introduction-section{
    background-color: rgb(255, 247, 232);
    padding: 100px 0;
    margin: 0px 0;
    box-shadow: 0 0 3px grey;
}

.background-introduction{
    background-color: white;
    padding: 0px;
    box-shadow: 0 0 4px black;
}

.piter{
    box-shadow: 0 0 0px black;
    width: 80%;
    padding: 0;
}

.i{
    margin: 20px;
}

.social-icons a{
    text-decoration: none;
    color: #6c757d;
}

.icon-bar{
    background-color: #6c757d;
}

.i-size-nav{
    font-size: 25px;
}

.i-size-footer{
    font-size: 50px;
}

.form-margin-contact{
    margin: 100px 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.card-img-top{
    padding: 30px 10px 20px 10px;
}

.margin-top-bottom{
    margin: 150px 0;
}

.errors{
    color: rgb(201, 2, 2);
}

.form-margin{
    margin-bottom: 10px;
}

.background-form{
    background-color: rgba(255,255,255,0.6);
    padding: 5px 30px 5px 30px;
    margin: 0 100px;
    box-shadow: 0 0 5px gray;

}

.card
{
    width: 340px;
    background-color: #F7F7F7;
    padding: 25px 30px 40px 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.85;
}

.card1
{
    width: 340px;
    background-color: #F7F7F7;
    padding: 10px 40px 40px 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.85;
}

.right{
    float: right !important;
}

.article-margin{
    margin: 40px 20px;
}

.page-link{
    color: black !important;
}

.search-size{
    margin: 7px !important;
    background-color: white !important;
}

.search-style{
    background-color: white !important;
    border-left: 0;
    box-shadow: 0;
}

.login-form-margin{
    margin-top: 25vh;
}

@media screen and (max-width: 768px){
    .display{
        visibility: hidden;
    }

    .section2{
        display: block;
        height: 60vh;
        padding: 0vh 0;
    }

    .section3{
        display: block;
        height: 70vh;
        padding: 15vh 0;
    }
    .margin-linkers{
        margin: 40px;
    }
}

@media screen and (max-width: 540px){
    .piter{
        box-shadow: 0 0 0px black;
        width: 100%;
        padding: 0;
    }
}